* {
	margin: 0;
}

html {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}

table {
	border-collapse: collapse;
	margin: 1rem;
}

table,
td,
th {
	border: .1rem solid black;
	font-size: 2rem;
}

td,
th {
	padding: .5rem;
}