* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	box-sizing: border-box;
}

.center {
	padding-left: calc(50% - 552px/2);
	padding-right: calc(50% - 552px/2);
}