html {
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

body {
	margin: 0;
	background-color: #CFD8DC;
}

button {
	cursor: pointer;
}

.btn-close {
	width: 2.4rem;
	height: 2.4rem;
	padding: .5rem;
	background: none;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn-close__line {
	width: 100%;
	height: .2rem;
	background-color: rgb(0, 0, 0);
	border-radius: .4rem;
}

.btn-close__line:nth-child(1) {
	transform: rotate(-45deg) translateY(.15rem);
}

.btn-close__line:nth-child(2) {
	transform: rotate(45deg) translateY(-.15rem);
}


.form {

	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 42rem;
	border-radius: 2rem;
	padding: 1.6rem;
	background-color: #FFFFFF;
	box-shadow: 0 2rem 3.2rem 0 #6061703D, 0 .2rem .8rem 0 #28293D14;
	display: flex;
	flex-direction: column;
}

.form__btn-close {
	align-self: flex-end;
}

.form__container {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	padding: 0 1.6rem 1.6rem;
}

.form__title {
	font-family: Nunito;
	font-size: 2.8rem;
	font-weight: 800;
	line-height: 3.2rem;
	margin: 0;
}

.form-fields,
.form-actions {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: .8rem;
}

.form-fields__input {
	box-sizing: border-box;
	width: 100%;
	height: 4.8rem;
	padding: 1.4rem 1.6rem;
	border-radius: 1.2rem;
	border: .1rem solid #CFD8DC;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2rem;
}

.form-fields__input:hover {
	border: .1rem solid #FFE44D;
}

.form-fields__input:focus {
	border: .1rem solid #FFE44D;
	caret-color: #FFAA0D;
	outline: none;
}

.form__text {
	margin: 0;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.4rem;
	color: #7B8E98;
}

.form-actions__btn {
	width: 100%;
	height: 4.8rem;
	padding: 1.4rem 2.4rem;
	border-radius: 5.5rem;
	font-size: 1.6rem;
	font-weight: 700;
	transition: transform .2s, box-shadow .2s;
}

.form-actions__btn:hover {
	transform: translate(-.2rem, -.2rem);
	box-shadow: .4rem .4rem .5rem rgba(0, 0, 0, 0.5);
}

.sign-up {
	background-color: #FFE44D;
	border: none;
}

.sign-in {
	background-color: #ffffff;
	border: .1rem solid #CFD8DC;
}